name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5


    steps:
    - uses: actions/checkout@v3
    - name: provision-with-micromamba
      uses: mamba-org/provision-with-micromamba@v15
      with:
        environment-file: environment.yml
        extra-specs: |
          python=3.10
          pytest
        cache-env: true
    - name : Test with pytest
      shell: bash -l {0}
      run : |
        pytest